body{
    
    margin :30px;
    border: 3px solid rgb(197, 5, 245);
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/
  background: #1E1E1E;
  color:rgb(15, 15, 15);
    /*background-color : #1E1E1E;*/

}

.table-table-border{
    color:white;

    
width: 800px;
height: 900x; 
border-spacing: 15px;
}


